.item {
    width: 650px;
    height: 48px;
    margin-top: 62px;

    .progressLine {
        display: flex;
        flex-direction: row;
        gap: 0px;
        
        .progressdot1{
            margin-left: 110px;
            display: flex;
            align-items: center;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: #A6A6A6;

        }
        .lineLeft {
            margin-left: 0;
            height: 8px;
            width: 50%;
            border-radius: 8px;
            max-width: 50%;
            background: rgba(0, 0, 0, 0.08);

        }

        .progressdot2{
            display: flex;
            align-items: center;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: #5558FA;;
        }

        .lineRight {
            margin-right: 0;
            height: 8px;
            width: 50%;
            border-radius: 8px;
            max-width: 50%;
            background: rgba(0, 0, 0, 0.08);
        }

        .progressdot3{
            margin-right: 110px;
            display: flex;
            align-items: center;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            background-color: #5558FA;;
        }
    }

}